.tag {
  transition: height 0.2s ease-out;
  padding: 0.3125rem 0.625rem;

  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 1.125rem;
  background: #f2f2f2;
  cursor: default;
  margin: 0.3125rem;
  & .material-icons {
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.3125rem;
  }
}
