<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>
    Welcome to <%= title %>
</h1>
<% attributes.forEach( function(attribute) { %>
<li class="list-group-item">
    <%= attribute.text %>
</li>
<% }); %>
<button>Press</button>
<div id="target">
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript" >
    $(function() {
        $("button").on("click", function () {
            $.ajax({
                type: 'POST',
                url: '/add',
                success: function(arr) {
                    let html = '';
                    for (let i = 0; i< arr.length; i++) {
                        html += '<h2>' + arr[i].first + ' ' + arr[i].second + '</h2>';
                    }
                    $('#target').html(html);
                }
            });
        });
    });
</script>
</body>
</html>
