<% for (const reciep of recipesArray) { %>
<div class="col mb-4">
    <div class="card">
        <img src="<%=reciep.image %>" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">
                <a target="_blank" href="<%=reciep.link %> " class="recipe-link"
                    ><%=reciep.name %></a
                >
            </h5>
            <p class="card-text">
                <% for (let i = 0; i < reciep['ingr-fast'].length; i++) {%>
                <span><%=reciep['ingr-fast'][i]%></span><br />
                <% } %>
            </p>
        </div>
    </div>
</div>
<% }%>
